In [84]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('Chinook.db')
cursor = conn.execute("select * from Artist LIMIT 10")
rows = cursor.fetchall()

rows

[(1, 'AC/DC'),
 (2, 'Accept'),
 (3, 'Aerosmith'),
 (4, 'Alanis Morissette'),
 (5, 'Alice In Chains'),
 (6, 'Antônio Carlos Jobim'),
 (7, 'Apocalyptica'),
 (8, 'Audioslave'),
 (9, 'BackBeat'),
 (10, 'Billy Cobham')]

In [85]:
data = ''
with open('Chinook_db_description.txt','r') as file:
    data= file.readlines()

In [86]:
text = " ".join(data)
print(text)

The Chinook database is a sample database used for learning and practicing SQL. It mimics a digital media store, including tables for artists, albums, media tracks, invoices, customers, and employees. Here's an overview of the schema:

 Tables and their columns:
 Artist

 ArtistId (INTEGER, Primary Key)
 Name (NVARCHAR)
 Album

 AlbumId (INTEGER, Primary Key)
 Title (NVARCHAR)
 ArtistId (INTEGER, Foreign Key referencing Artist)
 Track

 TrackId (INTEGER, Primary Key)
 Name (NVARCHAR)
 AlbumId (INTEGER, Foreign Key referencing Album)
 MediaTypeId (INTEGER, Foreign Key referencing MediaType)
 GenreId (INTEGER, Foreign Key referencing Genre)
 Composer (NVARCHAR)
 Milliseconds (INTEGER)
 Bytes (INTEGER)
 UnitPrice (NUMERIC)
 MediaType

 MediaTypeId (INTEGER, Primary Key)
 Name (NVARCHAR)
 Genre

 GenreId (INTEGER, Primary Key)
 Name (NVARCHAR)
 Invoice

 InvoiceId (INTEGER, Primary Key)
 CustomerId (INTEGER, Foreign Key referencing Customer)
 InvoiceDate (DATETIME)
 BillingAddress (NVARCHAR)
 BillingCity (NVARCHAR)
 BillingState (NVARCHAR)
 BillingCountry (NVARCHAR)
 BillingPostalCode (NVARCHAR)
 Total (NUMERIC)
 InvoiceLine

 InvoiceLineId (INTEGER, Primary Key)
 InvoiceId (INTEGER, Foreign Key referencing Invoice)
 TrackId (INTEGER, Foreign Key referencing Track)
 UnitPrice (NUMERIC)
 Quantity (INTEGER)
 Customer

 CustomerId (INTEGER, Primary Key)
 FirstName (NVARCHAR)
 LastName (NVARCHAR)
 Company (NVARCHAR)
 Address (NVARCHAR)
 City (NVARCHAR)
 State (NVARCHAR)
 Country (NVARCHAR)
 PostalCode (NVARCHAR)
 Phone (NVARCHAR)
 Fax (NVARCHAR)
 Email (NVARCHAR)
 SupportRepId (INTEGER, Foreign Key referencing Employee)
 Employee

 EmployeeId (INTEGER, Primary Key)
 LastName (NVARCHAR)
 FirstName (NVARCHAR)
 Title (NVARCHAR)
 ReportsTo (INTEGER, Foreign Key referencing Employee itself)
 BirthDate (DATETIME)
 HireDate (DATETIME)
 Address (NVARCHAR)
 City (NVARCHAR)
 State (NVARCHAR)
 Country (NVARCHAR)
 PostalCode (NVARCHAR)
 Phone (NVARCHAR)
 Fax (NVARCHAR)
 Email (NVARCHAR)
 Playlist

 PlaylistId (INTEGER, Primary Key)
 Name (NVARCHAR)
 PlaylistTrack

 PlaylistId (INTEGER, Primary Key, Foreign Key referencing Playlist)
 TrackId (INTEGER, Primary Key, Foreign Key referencing Track)
 Relationships:
 An Artist has many Albums.
 An Album belongs to an Artist and has many Tracks.
 A Track belongs to an Album, a MediaType, and a Genre.
 An Invoice is associated with a Customer and contains multiple InvoiceLines.
 An InvoiceLine is linked to an Invoice and a Track.
 A Customer is served by an Employee (SupportRep).
 An Employee can have a supervisor (another Employee).
 A Playlist contains multiple Tracks, and a Track can appear in multiple Playlists through the PlaylistTrack table.
 This schema provides a comprehensive structure for managing digital media store data, making it a great resource for practicing complex SQL queries and database management tasks.

In [93]:
import openai
from openai import OpenAI
from dotenv import load_dotenv, dotenv_values 
from PIL import Image
from io import BytesIO
import time
import pandas as pd
import datetime

load_dotenv()
client = OpenAI()

In [94]:
schema_template = "Here is the schema of a database. "+text\
    +"\n Write a SQL query to answer the following question. Provide only the SQL and nothing else\n"
user_query = "How much did each customer spend in total in descending order"
user_request = schema_template+user_query
#print(user_request)

In [95]:
completion = client.chat.completions.create(
  model="gpt-3.5-turbo",
  messages=[
    {"role": "system", "content": "You helpful data analyst.Use only the information provided in the text."},
    {"role": "user", "content": user_request}
  ]
)

result_sql = completion.choices[0].message.content
print(result_sql)

```sql
SELECT c.CustomerId, c.FirstName, c.LastName, SUM(i.Total) AS TotalSpent
FROM Customer c
INNER JOIN Invoice i ON c.CustomerId = i.CustomerId
GROUP BY c.CustomerId, c.FirstName, c.LastName;
```

In [96]:
my_SQL = result_sql[7:-4]
print(my_SQL)

SELECT c.CustomerId, c.FirstName, c.LastName, SUM(i.Total) AS TotalSpent
FROM Customer c
INNER JOIN Invoice i ON c.CustomerId = i.CustomerId
GROUP BY c.CustomerId, c.FirstName, c.LastName;

In [97]:
pd.read_sql(my_SQL,conn)

    CustomerId  FirstName      LastName  TotalSpent
0            1       Luís     Gonçalves       39.62
1            2     Leonie        Köhler       37.62
2            3   François      Tremblay       39.62
3            4      Bjørn        Hansen       39.62
4            5  František   Wichterlová       40.62
5            6     Helena          Holý       49.62
6            7     Astrid        Gruber       42.62
7            8       Daan       Peeters       37.62
8            9       Kara       Nielsen       37.62
9           10    Eduardo       Martins       37.62
10          11  Alexandre         Rocha       37.62
11          12    Roberto       Almeida       37.62
12          13   Fernanda         Ramos       37.62
13          14       Mark       Philips       37.62
14          15   Jennifer      Peterson       38.62
15          16      Frank        Harris       37.62
16          17       Jack         Smith       39.62
17          18   Michelle        Brooks       37.62
18          19        Tim         Goyer       38.62
19          20        Dan        Miller       39.62
20          21      Kathy         Chase       37.62
21          22    Heather       Leacock       39.62
22          23       John        Gordon       37.62
23          24      Frank       Ralston       43.62
24          25     Victor       Stevens       42.62
25          26    Richard    Cunningham       47.62
26          27    Patrick          Gray       37.62
27          28      Julia       Barnett       43.62
28          29     Robert         Brown       37.62
29          30     Edward       Francis       37.62
30          31     Martha          Silk       37.62
31          32      Aaron      Mitchell       37.62
32          33      Ellie      Sullivan       37.62
33          34       João     Fernandes       39.62
34          35   Madalena       Sampaio       37.62
35          36     Hannah     Schneider       37.62
36          37       Fynn    Zimmermann       43.62
37          38     Niklas      Schröder       37.62
38          39    Camille       Bernard       38.62
39          40  Dominique      Lefebvre       38.62
40          41       Marc        Dubois       37.62
41          42      Wyatt        Girard       39.62
42          43   Isabelle       Mercier       40.62
43          44      Terhi    Hämäläinen       41.62
44          45   Ladislav        Kovács       45.62
45          46       Hugh      O'Reilly       45.62
46          47      Lucas       Mancini       37.62
47          48   Johannes  Van der Berg       40.62
48          49  Stanisław        Wójcik       37.62
49          50    Enrique         Muñoz       37.62
50          51     Joakim     Johansson       38.62
51          52       Emma         Jones       37.62
52          53       Phil        Hughes       37.62
53          54      Steve        Murray       37.62
54          55       Mark        Taylor       37.62
55          56      Diego     Gutiérrez       37.62
56          57       Luis         Rojas       46.62
57          58      Manoj        Pareek       38.62
58          59       Puja    Srivastava       36.64

In [98]:
my_sql = """SELECT Customer.CustomerId, 
       FirstName, 
       LastName, 
       SUM(Total) AS TotalSpent
FROM Customer
JOIN Invoice ON Customer.CustomerId = Invoice.CustomerId
GROUP BY Customer.CustomerId, FirstName, LastName"""
pd.read_sql(my_sql,conn)

    CustomerId  FirstName      LastName  TotalSpent
0            1       Luís     Gonçalves       39.62
1            2     Leonie        Köhler       37.62
2            3   François      Tremblay       39.62
3            4      Bjørn        Hansen       39.62
4            5  František   Wichterlová       40.62
5            6     Helena          Holý       49.62
6            7     Astrid        Gruber       42.62
7            8       Daan       Peeters       37.62
8            9       Kara       Nielsen       37.62
9           10    Eduardo       Martins       37.62
10          11  Alexandre         Rocha       37.62
11          12    Roberto       Almeida       37.62
12          13   Fernanda         Ramos       37.62
13          14       Mark       Philips       37.62
14          15   Jennifer      Peterson       38.62
15          16      Frank        Harris       37.62
16          17       Jack         Smith       39.62
17          18   Michelle        Brooks       37.62
18          19        Tim         Goyer       38.62
19          20        Dan        Miller       39.62
20          21      Kathy         Chase       37.62
21          22    Heather       Leacock       39.62
22          23       John        Gordon       37.62
23          24      Frank       Ralston       43.62
24          25     Victor       Stevens       42.62
25          26    Richard    Cunningham       47.62
26          27    Patrick          Gray       37.62
27          28      Julia       Barnett       43.62
28          29     Robert         Brown       37.62
29          30     Edward       Francis       37.62
30          31     Martha          Silk       37.62
31          32      Aaron      Mitchell       37.62
32          33      Ellie      Sullivan       37.62
33          34       João     Fernandes       39.62
34          35   Madalena       Sampaio       37.62
35          36     Hannah     Schneider       37.62
36          37       Fynn    Zimmermann       43.62
37          38     Niklas      Schröder       37.62
38          39    Camille       Bernard       38.62
39          40  Dominique      Lefebvre       38.62
40          41       Marc        Dubois       37.62
41          42      Wyatt        Girard       39.62
42          43   Isabelle       Mercier       40.62
43          44      Terhi    Hämäläinen       41.62
44          45   Ladislav        Kovács       45.62
45          46       Hugh      O'Reilly       45.62
46          47      Lucas       Mancini       37.62
47          48   Johannes  Van der Berg       40.62
48          49  Stanisław        Wójcik       37.62
49          50    Enrique         Muñoz       37.62
50          51     Joakim     Johansson       38.62
51          52       Emma         Jones       37.62
52          53       Phil        Hughes       37.62
53          54      Steve        Murray       37.62
54          55       Mark        Taylor       37.62
55          56      Diego     Gutiérrez       37.62
56          57       Luis         Rojas       46.62
57          58      Manoj        Pareek       38.62
58          59       Puja    Srivastava       36.64